body,
html {
  /* scroll-behavior: smooth; */
  overscroll-behavior-y: none;
}
body {
  overflow-y: scroll;
}
* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "G";
  font-display: swap;
  src: url("../src/fonts/GGX.ttf");
}

@font-face {
  font-family: "norse";
  font-display: swap;
  src: url("../src/fonts/NorseGX.ttf");
}

@font-face {
  font-family: "Styrene";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../src/fonts/StyreneB-Regular.woff") format("woff"),
    url("../src/fonts/StyreneB-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Styrene";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../src/fonts/StyreneB-Bold.woff") format("woff"),
    url("../src/fonts/StyreneB-Bold.woff2") format("woff2");
}
