body,
html {
  /* scroll-behavior: smooth; */
  overscroll-behavior-y: none;
}
/* body {
  overflow-y: scroll;
} */
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1;
}

@font-face {
  font-family: "G";
  font-display: swap;
  src: url("../src/fonts/GGX.ttf");
}

@font-face {
  font-family: "Styrene";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../src/fonts/StyreneB-Regular.woff") format("woff"),
    url("../src/fonts/StyreneB-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Styrene";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../src/fonts/StyreneB-Bold.woff") format("woff"),
    url("../src/fonts/StyreneB-Bold.woff2") format("woff2");
}

@custom-media --1 (min-width: 38em);
@custom-media --2 (min-width: 68em);
@custom-media --3 (min-width: 90em);
