body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scroll-indicator {
  width: 300px;
  margin-left: -150px;
  left: 50%;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  position: fixed;
}

.bar {
  width: 100%;
  height: 4px;
  background: #6c7aaa;
  position: absolute;
  top: 50%;
  margin-top: -2px;
}

.indicator {
  position: absolute;
  height: 40px;
  width: 3px;
  background: #1b202f;
}
